In [30]:
import pandas as pd
df = pd.read_csv("/Users/kkutumba/Library/Mobile Documents/com~apple~CloudDocs/Documents/GitHub/Machine-Learning/NaiveBayes/titanic (1).csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [31]:
df.drop(['PassengerId','Name','SibSp','Parch',"Cabin",'Ticket','Embarked'],axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [32]:
target=df.Survived
inputs=df.drop('Survived',axis='columns')

In [33]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head()
dummies['female'] = dummies['female'].astype(int)
dummies['male'] = dummies['male'].astype(int)

In [34]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [35]:
inputs.drop('Sex', axis='columns', inplace = True)
inputs.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [36]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [37]:
inputs.Age[ :10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [38]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [42]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3)

In [44]:
len(X_train)

623

In [46]:
len(X_test)

268

In [47]:
len(inputs)

891

In [48]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [51]:
model.fit(X_train,y_train)

GaussianNB()

In [52]:
model.score(X_test,y_test)

0.7910447761194029

In [53]:
X_test[:10]

     Pclass        Age      Fare  female  male
65        3  29.699118   15.2458       0     1
492       1  55.000000   30.5000       0     1
220       3  16.000000    8.0500       0     1
23        1  28.000000   35.5000       0     1
660       1  50.000000  133.6500       0     1
599       1  49.000000   56.9292       0     1
865       2  42.000000   13.0000       1     0
873       3  47.000000    9.0000       0     1
137       1  37.000000   53.1000       0     1
544       1  50.000000  106.4250       0     1

In [54]:
y_test[:10]

65     1
492    0
220    1
23     1
660    1
599    1
865    1
873    0
137    0
544    0
Name: Survived, dtype: int64

In [55]:
model.predict(X_test[:10])

array([0, 0, 0, 0, 1, 0, 1, 0, 0, 1])

In [56]:
model.predict_proba(X_test[:10])

array([[0.98864092, 0.01135908],
       [0.88432968, 0.11567032],
       [0.98401333, 0.01598667],
       [0.90570845, 0.09429155],
       [0.0390232 , 0.9609768 ],
       [0.83421519, 0.16578481],
       [0.03694941, 0.96305059],
       [0.98749061, 0.01250939],
       [0.87047244, 0.12952756],
       [0.27169642, 0.72830358]])